body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* --------- header ------- */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    background-color: #212121;
    box-shadow: 0 0 5px #000000a3;
    z-index: 100;
}

.logo {
    width: 260px;
}

.nav {
    display: flex;
    gap: 46px;
}

.nav__link {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav__link:hover {
    transition: 0.15s;
    opacity: 0.5;
}

.header__icons {
    display: flex;
    gap: 25px;
}

.header__img {
    filter: invert(1);
    opacity: 0.5;
    transition: 0.3s;
}

.header__img:hover {
    opacity: 1;
    transition: 0.15s;
}

/* --------- end header ------- */

/* --------- feel ------------ */
.feel {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: calc(100vh - 110px);
    background: url('../images/fell.jpg') no-repeat center/cover;
}

.feel__content {
    width: 1170px;
    margin-bottom: 200px;
}

.feel__title {
    font-size: 36px;
    color: #fff;
}

.feel__subtitle {
    width: 100%;
    font-size: 120px;
    font-weight: 700;
    fill: transparent;
    stroke: #fff;
    stroke-width: 1px;
}

.audio {
    margin-top: 16px;
    width: 100%;
}

/* --------- end feel ------------ */

/* --------- dj ------------ */

.dj {
    padding: 150px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.dj__wrap {
    position: relative;
}

.dj__image {
    border-radius: 7px;
    height: 327px;
}

.dj__figure {
    position: absolute;
    top: -20px;
    left: 30px;
    height: 40px;
    width: 20px;
    background-color: #8121E0;
}

.dj__content {
    width: 500px;
}

.dj__title {
    font-size: 36px;
    font-weight: 700;
    color: #151515;
}

.dj__text {
    font-size: 15px;
    color: #151515;
}

.dj__quote {
    padding: 12px 23px 0;
    margin-bottom: 35px;
    font-size: 24px;
}
