@import "./variables.scss";

@mixin horizontal-align {
  display: flex;
  justify-content: center;
}

// @mixin font($size) {
//   font-family: "Poppins", sans-serif;
//   font-weight: 400;
//   font-size: $size;
//   margin: calc(2 * $size);
// }

/* --------- header ------- */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #212121;
  box-shadow: 0 0 5px #000000a3;
  z-index: 100;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 8px;
}

.header__container {
  display: flex;
  align-items: center;
  height: $header-hight;
  justify-content: space-between;
}

.logo {
  width: 260px;
}

.nav {
  display: flex;
  gap: 46px;
}

.nav__link {
  color: #fff;
  // @include font(15px);
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav__link:hover {
  transition: 0.15s;
  opacity: 0.5;
}

.header__icons {
  // @include font(24px);
  display: flex;
  gap: 25px;
}

.header__img {
  filter: invert(1);
  opacity: 0.5;
  transition: 0.3s;
}

.header__img:hover {
  opacity: 1;
  transition: 0.15s;
}

/* --------- end header ------- */

/* --------- feel ------------ */
.feel {
  margin-top: $header-hight;
  @include horizontal-align;
  align-items: flex-end;
  height: calc(100vh - $header-hight);
  background: url("../images/fell.jpg") no-repeat center/cover;
}

.feel__container {
  margin-bottom: 200px;
}

.feel__subtitle {
  width: 100%;
  font-size: 120px;
  font-weight: 700;
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
}

.audio {
  margin-top: 16px;
  width: 100%;
}

/* --------- end feel ------------ */

/* --------- dj ------------ */

.dj {
  padding: 150px 1px;
  @include horizontal-align;
  gap: 100px;

  &__wrap {
    position: relative;
  }

  &__image {
    border-radius: 7px;
    height: 327px;
  }

  &__figure {
    top: -20px;
    left: 30px;
  }

  &__content {
    width: 500px;
  }

  &__title {
    font-weight: 700;
    color: #151515;
  }

  &__text {
    font-size: 15px;
    color: #151515;
  }

  &__quote {
    padding: 12px 23px 0;
    margin-bottom: 35px;
    font-size: 24px;
  }
}

/* --------- end dj ------------ */

/* --------- listen ------------ */

.listen {
  background: url("../images/img.png") no-repeat center/cover;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    padding: 150px 0;
  }

  &__figure {
    top: -20px;
    right: 10px;
  }
}

/* --------- tickets ------------ */

.tickets {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    line-height: 1;
  }

  &__title {
    color: #151515;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 400;
  }

  &__price {
    color: #151515;
    font-size: 110px;
  }

  &__text-cont {
    color: #151515;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.order {
  height: 1000px;
  padding: 100px;
}

//input {
//  height: 30px;
//  width: 400px;
//}

@media (max-width: 1024px) {
  .logo {
    width: 175px;
  }

  .nav {
    gap: 38px;

    &__link {
      font-size: 13px;
    }
  }

  .feel__subtitle {
    font-size: 90px;
  }

  .dj {
    gap: 40px;

    &__image {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .feel__subtitle {
    font-size: 56px;
    margin-top: -70px;
  }
}

@media (max-width: 480px) {
  .feel__subtitle {
    font-size: 41px;
    margin-top: -85px;
  }
}

